*, *::before, *::after {
  box-sizing: border-box;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
header{
  font-family:  'Dancing Script', cursive;
  font-size: larger;
  color: #b8b5ff;
}
body{
  background-color:#31326f;
  position: relative;
}


.mains {
  height: 10%;
  width: 10%;
  margin: auto;
  padding: auto;
  margin-top: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container {
  width: 800px;
  max-width: 80%;
  background-color:#ffe268;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1.75px solid hsl(200, 100%, 30%);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}